@font-face {
  font-family: 'Lobster';
  src: url('~@/assets/fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan-ExtraBold';
  src: url('~@/assets/fonts/Spartan-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan-Medium';
  src: url('~@/assets/fonts/Spartan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spartan-Thin';
  src: url('~@/assets/fonts/Spartan-Light.ttf') format('truetype');
}