$width-lg: 1100px;
$width-md: 860px;
$width-sm: 567px;

$font-bold: 'Spartan-ExtraBold';
$font-medium: 'Spartan-Medium';
$font-thin: 'Spartan-Thin';

$font-size-logo: 45px;
$font-size-xl: 40px;
$font-size-lg: 25px;
$font-size-md: 17px;
$font-size-sm: 15px;
$font-size-xs: 12px;
$font-size-2xs: 10px;

$line-height-xl: 56px;
$line-height-lg: 36px;
$line-height-md: 30px;
$line-height-sm: 26px;

$spacing-xl: 2.5rem;
$spacing-lg: 2rem;
$spacing-md: 1.5rem;
$spacing-sm: 1rem;
$spacing-xs: 0.65rem;
$spacing-2xs: 0.4rem;
$spacing-3xs: 0.2rem;

$layout-lg: 115px;
$layout-md: 60px;
$layout-sm: 30px;

$layout-margin: 10px;

// $color-background: #0300dc;
$color-background: #141415;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #B4B4B4;
$color-grey-light: #f1f5fb;
$color-primary: #0020ff;
$color-secondary: #00ffb8;
$color-tertiary: #ffde00;

@import 'fonts';
@import 'skeleton';

html, body {
  background-color: $color-white;
  margin: 0;
  padding: 0;
  font-family: 'Spartan-Thin', sans-serif;
}

.visually-hidden {
  height: 0;
  visibility: hidden;
}

.h1 {
  font-family: $font-bold;
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  margin: $spacing-sm 0 $spacing-md;
}

.h2 {
  font-family: $font-bold;
  font-size: $font-size-md;
  line-height: $line-height-lg;
}

.h3 {
  font-family: $font-medium;
}

.h5 {
  color: $color-grey;
  font-family: $font-thin;
  font-size: $font-size-xs;
}

.shadow {
  box-shadow: 0px 8px 10px rgba(0,0,0,0.04);
}

@mixin container-shadow {
  &::before {
    content: '';
    display: block;
    width: calc(100% + 20px);
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -10px;
    box-shadow: 0px 7px 40px 0 rgba(0,0,0,0.1);
    z-index: -1;
  }
}